.title{
  font-size: 5rem;
  display: flex;
  justify-content: center;
}
.main{
  display: flex;
  justify-content: center;
}
.Box{
  border: 6px solid #000;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  width: 600px;
  height: 650px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rebox{
  width: 600px;
  border: 6px solid #000;
  margin: 20px;
  text-align: center;
}

.img{
  width: 450px;

}

.btn{
  margin: 10px;
  width: 200px;
  height: 100px;
  font-size: 1.3rem;

}